/* Custom properties/variables  */
:root {
    --main-white: ghostwhite;
    --main-purple: #8c1aff;
    --main-blue: #3366cc;
    --main-gray: #4d004d;
}

/* basic reset */
* {
    margin: 0;
    padding: 0;
}
/* box-sizing and font sizing */
*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}
/* 460px  / 16px = 28.75em */ 
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

/* base style */ 
body {
    font-size: 1.8rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}
h1, h2 {
    font-family: 'Tai Heritage Pro', serif;
    font-weight: 700;
    text-align: center;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4.2rem;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--main-white)
}
img {
    display: block;
    width: 100%;
}

/* Navbar style */
#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-purple);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
#navbar > ul {
    display: flex;
    margin-right: 2rem;
}
@media (max-width: 28.75em) {
    #navbar {
        justify-content: center;
    }
}
#navbar ul li a {
    display: block;
    padding: 2rem;
    text-transform: uppercase;
}
/* Header Section */
#header-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(62deg, #660066, #8c1aff);
}
#header-div > p {
    font-style: italic;
    font-size: 3rem;
    font-weight: 200;
    color: var(--main-purple)
}

/* project section */
.section-project {
    background-color: var(--main-blue);
    padding: 10rem 2rem;
    text-align: center;
}
.projects-header {
    margin: 0 auto 6rem auto;
    max-width: 640px;
    border-bottom: 0.2rem solid var(--main-white);
}
@media (max-width: 28.75em) {
    .projects-header {
      font-size: 4rem;
    }
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 4rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
@media (max-width: 30.625em) {
    .section-project {
        padding: 6rem 1rem;
    }
    .project-grid {
        grid-template-columns: 1fr;
    }
}
.project-tile {
    background-color: var(--main-gray);
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}
.project-tile:hover .code {
    color: #ff7f50;
}
.project-image {
    object-fit: cover;
    height: calc(100% - 6.6rem);
    width: 100%;
}
.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }
  button, btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    border: none;
    background: var(--main-gray);
}
.btn-show-all {
    font-size: 2rem;
    transition: background 0.3s ease-out;
}
.btn-show-all:hover {
    background: var(--main-purple);
}
.fa-chevron-right {
    vertical-align: auto;
}
.btn-show-all:hover > i {
    transform: translateX(2px);
}

/* CONTACT SECTION */
.contact-section {
    background-color: var(--main-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
}
.contact-header > h2 {
    font-size: 6rem;
}
  @media (max-width: 28.75em) {
    .contact-header > h2 {
      font-size: 4rem;
    }
}
  .contact-header > p {
    font-style: italic;
}
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
}


/* Footer */

footer {
    background: var(--main-gray);
    border-top: 4px solid var(--main-purple);
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    font-weight: 300;
}
  footer > p {
    margin: 2rem;
}
  
footer i {
    vertical-align: middle;
}
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
}